<div>
    <h1 class="width100">
        Event: {name}
    </h1>
    <div class="width50">
        <b>Event Type:</b> {event_type}
    </div>
    <div class="width50">
        <b>Room:</b> {room}
    </div>
    <div class="width50">
        <b>Start Time:</b> {start_time}
    </div>
    <div class="width50">
        <b>Space:</b> {space}
    </div>
    <div class="width50">
        <b>Duration:</b> {duration}
    </div>
    <div class="width50">
        <b>Script:</b> {script}
    </div>
    <div class="width50">
        <b>Host:</b> {host}
    </div>
    <div class="width50">
        <b>Grim Required:</b> {grim_required}
    </div>
<!--    <div class="width100">-->
<!--        <b>Tokens:</b> {tokens}-->
<!--    </div>-->
    <h3 class="width100">
        Attendees:
    </h3>
    {attendee}
    <div class="width50">
        {attendee_name}
    </div>
    {/attendee}
</div>
<hr class="page_break" />
